* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-weight: 600;
    color: rgba(0, 128, 128, 0.8);
}


header {
    background-color: teal;
    padding: 0 3.5% 0 7%;
    height: 4em;
}

h1 {
    color: white;
    display: inline;
    margin: 1em 43vw 0 0.4%;
    position: relative;
    bottom: 0.4em;
    right: 1%;
}


h1 span {
    opacity: 0.5;
}

sup, sub {
    font-size: xx-small; 
    color: white;
    opacity: 0.5;
}

sub {
    position: relative;
    right: 4px;
    bottom: 1em;
}

sup {
    position: relative;
    right: 1px;
    bottom: 2px;
}

.logo {
    margin: 0.12em 0.1em 0 ; 
    position: relative;
    bottom: 0.1em;
    height: 3em;
}

.get {
    padding: 0.5em 0;
}

#navi {
    display: none;
}



a:hover {
    background-color: rgba(0, 128, 128, 0.3);
}
/*header*/

/*navigation*/
#hidden {
    display: none;
}

nav {
    background-color: #fff;
    height: 1.4em;
    margin: 0.2em -3.4vw 0.4em -7vw;
    padding-left: 7vw;
    border-bottom: 3px solid silver;
    /* padding: 5px 5px 0 20px; */
}

nav span {
    margin: 0 28% 0 0;
    text-align: justify;
}

nav a {
    margin: 0 15px 0 0;
}

nav sub {
    color: black;
    opacity: 1;
}
/*nav*/


/*main*/
main {
    min-width: 600px;
}

.parent {
    margin: 7vh 100px 2em 100px;
    display: flex;
}

h2 {
    color: sandybrown;
}

#headtab, #h3tab {
    display: none;
}

.left {
    padding-right: 100px;
    margin-right: 150px;
    line-height: 1.4;
}

.left p {
    margin: 0 0 15px 0;
}

.sla {
    color: teal;
}

.left h3 {
    margin-top: 5px;
}

ul {
    list-style: none;
}
  
ul li::before {
    content: "\2022";
    color: sandybrown;
    font-weight: bold; 
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

ul a {
    font-weight: bold;  
    position: relative;
    bottom: 18px; 
    left: 5px; 
}


li {
    position: relative;
    top: -2.3em;
    left: 3.5em;
}

#one {
    bottom: 288px;
}

#two {
    bottom: 234px;
}

#three {
    bottom: 182px;
}

.right img {
    width: 49.2%;
    height: auto;
}

.screen {
    display: block;
    margin: 5px 0 0 188px;
    text-align: right;
}

.right div {
    margin-top: 20px;
    padding: 8px 15px 3px 5px;
    border: 2px solid teal ;
    width: 320px;
    height: 90px;
    text-align: left;
    line-height: 1.2;
}

.right h4 {
    margin-bottom: 4px;
}

#ext {
    width: 37px;
    position: relative;
    left: 290px;
    bottom: 80px;    
}
/*main*/




/*footer*/
footer {
    margin: 10px 100px 0 720px;
    text-align: right;
}
/*footer*/

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    header {
        padding: 0.5em 7% 0 7%;
        height: 4em;
    }

    h1 {
        display: inline-block;
        margin: 1em 0 0 0.4%;
        position: relative;
        bottom: 0.5em;
        right: 1%;
    }

    .get {
        float: right;
        margin-right: 2em;
    }

    #hidden {
        display: inline;
    }

    nav {
        text-align: center;
        margin: 0.2em 0 0.4em 0;
        padding-left: 0;
        border-bottom: 3px solid silver;
    }

    nav span {
        display: none;
    }

    nav a {
        margin-right: 1em;
    }

    .parent {
        display: block;
    }

    h2, h3 {
        text-align: center;
    }

    

    
    .left {
        min-width: 50%;
        text-align: justify;
        padding-right: 0;
        margin-right: 0;
        line-height: 1.4;
    }

    .left p {
        display: inline-block;
    }
    
    /* .left img {
        display: inline-block;
    } */
    

    
    .left h3 {
        margin-top: 0.1em;
    }
    

    
    .screen {
        display: block;
        margin: 5px;
        text-align: center;
        margin-left: 0;
    }
    
    .right img {
        width: 35%;
        height: auto;
    }

    footer {
        margin: 10px 7%;
        text-align: center;
    }

    hr {
        margin: 0 7%;
        border:  3.5% 0 7%;
    }
}



@media only screen and (min-width: 480px) and (max-width: 768px) {

body {
    font-size: 2vw;
}

h1 {
    margin: 1em 10vw 0 0.4%;
    position: relative;
    bottom: 0.3em;
    right: 1%;
}

sub {
    position: relative;
    right: 4px;
    top: 0.001em;
}

sup {
    position: relative;
    right: 1px;
    bottom: 2px;
}

.logo {
    margin: 0.12em 0.1em 0 ; 
    position: relative;
    top: 0.1em;
    height: 3em;
}

.get {
    padding: 0.5em 0;
    display: none;
}

#navi {
    display: block;
    height: 70%;
    margin-top: 0.7em;
    float: right;
    opacity: 0.7;
}

#hidden {
    font-size: 2vw;
    display: block;
    font-weight: 600;
    padding: 0.3em;
}


nav {
    display: none;
    background-color: teal;
    height: 13em;
    margin: 0.5em;
    text-align: center;
    padding: 0;
    z-index: 100000;
    position: relative;
}

nav a {
    margin: 0;
    display: block;
    text-decoration: none;
    padding: 0.3em;
    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    z-index: 100000;
    position: relative;
}

a[href='for'] {
    border-bottom: none;
}

nav span {
    display: none;
}

h2 {
    text-align: left;
    margin: 1.5em 0 0 3em;
}


#headtab, #h3tab {
    display: block;
    text-align: center;
}

#head2, #h3 {
    display: none;
}

#headtab {
    margin-top: 0.5em;
}

#h3tab {
    padding-left: 3.5em;
}

.parent {
    padding: 0 !important;
    margin: 1.5em 4em;
    grid-template-rows: 1fr 1fr;
    z-index: 1;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

.left {
    display: block;
    margin-right: 1em;
    padding: 0; 
} 

.left p {
    padding-right: 5em;
}

.screen {
    text-align: center;
    margin: 0;
}

/* .right {
    
} */

.right > p {
    text-align: center;
    padding-right: 5em;
}

.right > img {
    display: block;
    margin: 0 25%;
    height: 15%;
    width: auto;
}

#exten {
    display: none;
}

footer {
    text-align: left;
    margin: 2em;
}

}

@media only screen and (max-width: 600px) {
    .parent {
        display: block;

    }

    .left p {
        padding-right: 5em;
    }

    .right img {
        display: inline-block;
        margin: 0;
    }
}