* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Helvetica;
}

a {
    font-weight: 600;
    color: rgba(0, 128, 128, 0.8);
}

main {
    /* display: none; */
}
/*header*/
header {
    background-color: teal;
    height: 65px;
    padding: 0 75px 0 50px;
}

h1 {
    color: white;
    display: inline;
    margin: 18px 50% 0 5px;
    position: relative;
    bottom: 5px;
    right: 10px;
}

h1 span {
    opacity: 0.5;
}

sup, sub {
    font-size: xx-small; 
    color: white;
    opacity: 0.5;
}

sub {
    position: relative;
    right: 4px;
}

sup {
    position: relative;
    right: 1px;
    bottom: 2px;
}

.logo {
    margin: 12px 2px 0 50px;
    position: relative;
    top: 3px;
    height: 42px;
}

.get {
    margin-bottom: 7px;
}



a:hover {
    background-color: rgba(0, 128, 128, 0.3);
}
/*header*/


/*navigation*/
nav {
    height: 22px;
    border-bottom: 3px solid silver;
    padding: 5px 5px 0 20px;
}

nav span {
    margin: 0 28% 0 80px;
    text-align: justify;
}

nav a {
    margin: 0 15px 0 0;
}

nav sub {
    color: black;
    opacity: 1;
}
/*nav*/


/*main*/
.parent {
    margin: 20px 100px 20px 100px;
    display: flex;
}

h2 {
    color: sandybrown;
}

.left {
    padding-right: 100px;
    margin-right: 150px;
    line-height: 1.4;
}

.left p {
    margin: 0 0 15px 0;
}

.sla {
    color: teal;
}

.left h3 {
    margin-top: 5px;
}

ul {
    list-style: none;
}
  
ul li::before {
    content: "\2022";
    color: sandybrown;
    font-weight: bold; 
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

ul a {
    font-weight: bold;  
    position: relative;
    bottom: 18px; 
    left: 5px; 
}


li {
    position: absolute;
    left: 160px;
}

#one {
    bottom: 288px;
}

#two {
    bottom: 234px;
}

#three {
    bottom: 182px;
}

.right img {
    width: 49.2%;
    height: auto;
}

.screen {
    display: block;
    margin: 5px 0 0 188px;
    text-align: end;
}

.right div {
    margin-top: 20px;
    padding: 8px 15px 3px 5px;
    border: 2px solid teal ;
    width: 320px;
    height: 90px;
    text-align: left;
    line-height: 1.2;
}

.right h4 {
    margin-bottom: 4px;
}

#ext {
    width: 37px;
    position: relative;
    left: 290px;
    bottom: 80px;    
}
/*main*/


hr {
    margin: 0 100px;
    border: 1px solid teal;
    opacity: 0.75;
}

/*footer*/
footer {
    margin: 10px 100px 0 720px;
    text-align: right;
}
/*footer*/